# Entornos virtuales de Python
venv/
env/
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/
.npm/

# Entorno y variables secretas
.env
*.env
.env.local
otp_store.json

# IDE y SO
.vscode/
.idea/
.DS_Store

# Logs
*.log
